* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    background-color: teal;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: tomato;
    justify-content: flex-start;
    row-gap: 1.5em;
}

img {
    width: 100%;
}

@media screen and (max-width:500px) {
    .column {
        width: 100%;
    }
}